$dusty-blue: #6699CC;
$forest-green: #228B22;
$bright-orange: #FFA500;

.register-container {
  background-color: $dusty-blue;
  color: $forest-green;
  border: 2px solid $bright-orange;
  padding: 20px;
  border-radius: 10px;
  max-width: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  input, button {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
  }

  input {
    background-color: white;
    color: $forest-green;
  }

  button {
    background-color: $bright-orange;
    color: white;
    &:hover {
      background-color: darken($bright-orange, 10%);
    }
  }
  .register-image {
    display: block; // Makes it a block element
    margin: 0 auto; // Centers the image horizontally
    max-width: 100%; // Ensures the image is not larger than its container
    height: auto; // Maintains the aspect ratio of the image
}

  // You can add additional styles specific to the register form here
}

// Add any global styles or additional component styles as needed
body {
    background-color: $dusty-blue;
  }