// Define the color variables
$dusty-blue: #6699CC;
$forest-green: #228B22;
$bright-orange: #FFA500;

// Style for the main container of the loans section
.loans-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

// Style for the loan creation form
.loan-form-container {
  background-color: $dusty-blue;
  color: $forest-green;
  border: 2px solid $bright-orange;
  padding: 20px;
  border-radius: 10px;
  max-width: 300px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  label {
    margin-bottom: 5px;
  }

  select, button {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
  }

  button {
    background-color: $bright-orange;
    color: white;
    &:hover {
      background-color: darken($bright-orange, 10%);
    }
  }
}

// Style for the loan list
.loan-list-container {
  background-color: lighten($dusty-blue, 10%);
  color: $forest-green;
  border: 2px solid $bright-orange;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: start;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;

    li {
      background-color: lighten($dusty-blue, 20%);
      margin: 10px 0;
      padding: 10px;
      border-radius: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      button {
        background-color: $bright-orange;
        color: white;
        &:hover {
          background-color: darken($bright-orange, 10%);
        }
      }
    }
  }
}
